/* yellow #ffe521ff */
/* pink #ff009e */
/* mint #56f89a */

#main {
  border: 30px solid #ffe521ff;
}

.light-theme {
  background-color: #fff;
  color: #000;
}

.dark-theme {
  background-color: #000;
  color: #fff;
}

#theme-switcher {
  border: none;
  position: fixed;
  top: 40px;
  right: 50px;
  padding: 10px;
}

#header-container {
  padding: 15px;
}

#header-container h1 {
  font-size: 40px;
}

#main-section {
  padding-bottom: 40px;
}

#img-div {
  background: #56f89a;
  padding: 20px;
  padding-bottom: 10px;
  margin: auto;
  width: fit-content;
}

#image {
  display: block;
  max-width: 100%;
  margin: auto;
}

#img-caption {
  margin: 10px;
  color: #000;
}

#tribute-info {
  margin: auto;
  width: 60%;
  padding: 40px 0;
}

#timeline-title {
  margin-bottom: 50px;
}

span {
  background-color: #ff009e;
  padding: 5px 8px;
}

strong {
  background-color: #56f89a;
  padding: 5px 8px;
  color: #000;
}

ul {
  text-align: left;
  line-height: 2;
}


