/* yellow #ffe521ff */
/* pink #ff009e */
/* mint #56f89a */

#container {
  border: 30px solid #ffe521ff;
}

.light-theme {
  background-color:#fff;
  color: #000;
}
.dark-theme {
  background-color:#000;
  color: #fff;
}

#theme-button {
  border: none;
  position: fixed;
  top: 40px;
  right: 50px;
  padding: 10px;
}

#header-container {
  padding: 15px;
}

#header-container h1 {
  font-size: 40px;
}

#main-section {

}

#img-container {
  background: #56f89a;
  padding: 20px;
  padding-bottom: 10px;
  margin: auto;
  width: fit-content;
}

#img-container figcaption {
  margin: 10px;
}

#timeline-section {
  margin: auto;
  width: 60%;
  padding: 40px 0;
}

#timeline-title {
  margin-bottom: 50px;
}